@import "../../index.css";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 1.5rem 0 2rem 0;
}

.date {
  opacity: 0.3;
  padding: 0.5rem 0 0.5rem;
}

.body {
  max-height: 250px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.comments {
  padding-top: 0.5rem;
  text-align: right;
}
